.footer {
  position: relative;
  width: 100%;
}

.footer-color {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -41.9%,
    #ffffff 260.24%
  );
  opacity: 0.05;
  backdrop-filter: blur(200px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}

.copy {
  // .copy__container
  &__container {
    display: flex;
    @include adaptiv-value("gap", 30, 10, 0);
    flex-wrap: wrap;
  }
  // .copy__items
  &__items {
    @include adaptiv-value("padding-left", 36, 20, 0);
    @include adaptiv-value("padding-bottom", 146, 60, 0);
  }
}

.item {
  max-width: 270px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* #FFFFFF */

  color: #ffffff;
  // .item__img
  &__img {
    @include adaptiv-value("padding-top", 77, 40, 0);
  }
  // .item__title-logo
  &__title-logo {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    /* #3A68B8 */

    color: #3a68b8;
    padding-bottom: 9px;
  }
  // .item__text
  &__text {
    font-weight: medium;
    font-size: 14px;
    line-height: 18px;

    /* #FFFFFF */

    color: #ffffff;

    opacity: 0.6;
    padding-bottom: 37px;
  }
  // .item__gmail
  &__gmail {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    & > p {
      padding-left: 9px;
    }
  }
  // .item__phone
  &__phone {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    & > p {
      padding-left: 9px;
    }
  }
  // .item__state
  &__state {
    display: flex;
    align-items: center;
    & > p {
      padding-left: 9px;
    }
  }
}

.item-second {
  max-width: 260px;
  @include adaptiv-value("padding-top", 100, 15, 0);

  // .item-second__title
  &__title {
    padding-bottom: 32px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    opacity: 1;

    color: #fff;
  }
  // .item-second__ul
  &__ul {
    & > li > a {
      text-decoration: none;
      color: #ffffff;
      opacity: 0.6;
      transition: all 0.3s ease 0s;
    }
    & > li > a:hover {
      opacity: 1;
    }
    & > li:not(:last-child) {
      padding-bottom: 20px;
    }
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #ffffff;
  }
}

.item {
  // .item__site

  &__site {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    padding-bottom: 18px;
  }

  // .item__social

  &__social {
    & > a > img {
      cursor: pointer;
    }
    display: flex;
    gap: 25px;
    padding-bottom: 30px;
  }

  // .item__lan

  &__lan {
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    gap: 9px;
  }
}
